/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    /* **********COLORS********** */
    --text-color: #0b4250;
    --text-light-color: #3a5168;
    --primary-color: #00ade9;
    --success-color: #32ab29;
    --white-color: #fff;
    --black-color: #000;
    --light-color: #f0f7fd;
    --light-light-color: #f5f6f7;
    --mega-menu-color: #767878;
    --sky-color: #c4eaff;
    --heading--color: #1f3c70;
    /* **********COLORS********** */

    /* **********FONTS********** */
    --font-primary: "Lato", sans-serif;
    --font-secondary: "Open Sans", sans-serif;
    --font-blog-title: "Lora", serif;
    /* **********FONTS********** */

    --transition-anim: .3s all ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--text-color);
    font-family: var(--font-secondary);
}

.container-fluid {
    max-width: 1200px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: var(--font-primary);
}

.btn__outlined__primary,
.btn__outlined__success {
    display: inline-block;
    padding: 5px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    transition: var(--transition-anim);
}

.btn__outlined__primary {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.btn__outlined__success {
    border: 1px solid var(--success-color);
    color: var(--success-color);
}

.btn__outlined__primary:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn__outlined__success:hover {
    background-color: var(--success-color);
    color: var(--white-color);
}

.btn__primary,
.btn__success,
.btn___ {
    display: inline-block;
    padding: 5px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    transition: var(--transition-anim);
}

.btn__primary {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn__success {
    border: 1px solid var(--success-color);
    background-color: var(--success-color);
    color: var(--white-color);
}

.btn-sm {
    font-size: 13px;
}

.line__height__1-5rem {
    line-height: 1.5rem;
}

.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-22 {
    font-size: 22px;
}

.fs-24 {
    font-size: 24px;
}

.fs-26 {
    font-size: 26px;
}

.fs-28 {
    font-size: 28px;
}

.fs-30 {
    font-size: 30px;
}

.fs-32 {
    font-size: 32px !important;
}

.fs-34 {
    font-size: 34px !important;
}

.fs-36 {
    font-size: 36px !important;
}

.fs-38 {
    font-size: 38px !important;
}

.fs-40 {
    font-size: 40px !important;
}

.fs-50 {
    font-size: 50px;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.estiamtes__time__tracking__payroll__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.estiamtes__time__tracking__payroll__projects img,
.invoices_icons {
    margin-bottom: 12px;
    width: 50px;
    height: auto;
}

.max__300 {
    max-width: 300px;
}

.learn___more {
    color: var(--heading--color);
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    border-bottom: 2px solid var(--primary-color);
}

.primary__underline {
    border-bottom: 1px solid var(--primary-color);
}

.heading__color {
    color: var(--heading--color);
}

.bg__img__manager {
    background-image: url("../images/quickbooks-for-accountant/quickBooks-practice-manager.png");
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    bottom: -3rem;
    position: relative;
    min-height: 220px;
}

.bg__secondary {
    background-color: var(--heading--color);
}

.hero__heading,
.secondary__heading,
.hero__heading__heading {
    font-weight: 800;
    color: var(--heading--color);
}

.section__heading {
    font-size: 24px;
    font-weight: 700;
    font-family: var(--font-secondary);
    color: var(--heading--color);
}

.text__primary {
    color: var(--primary-color);
}

.text__success {
    color: var(--success-color);
}

.text__color {
    color: var(--text-color);
}

.text__light__color {
    color: var(--text-light-color);
}

.testimonial__img {
    max-width: 100px;
}

.testimonial__title {
    font-size: 20px;
    font-weight: 600;
    word-spacing: 2px;
    line-height: 30px;
}

.icon__box__reporting {
    background-color: #edf2f2;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 12px auto;
    border-radius: 50%;
}

.icon__box__reporting img {
    max-width: 40px;
    height: auto;
}

.icon__box__payroll {
    background-color: var(--primary-color);
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    border-radius: 50%;
    color: var(--white-color);
}

.icon__box__payroll i {
    font-size: 24px;
}

.bg__primary {
    background-color: var(--primary-color);
}

.bg__success {
    background-color: var(--success-color);
}

.bg__light {
    background-color: var(--light-color) !important;
}

.bg__light__light {
    background-color: var(--light-light-color) !important;
}

.bg__sky {
    background-color: var(--sky-color);
}

.app_icons {
    width: 50px;
    height: auto;
}

.gap__12 {
    gap: 12px;
}

.gap__20 {
    gap: 20px;
}

/* header navbar */
header.header {
    z-index: 1056;
}

.header__logo {
    max-width: 60px;
    height: auto;
}

.header .nav-link {
    font-weight: 600;
    font-size: 15px;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    min-width: 200px;
}

.dropdown-menu .dropdown-item {
    text-align: center;
}

.dropdown-menu li:not(:last-child) {
    border-bottom: 1px solid #0000002d;
}

.mega__menu {
    position: static;
}

.mega__menu__color {
    color: var(--mega-menu-color);
}

.mega__menu__dialog {
    max-width: 1200px;
    overflow: hidden;
    border-radius: 0.5rem;
    top: 90px;
}

.mega__menu .mega__menu__listing li {
    border: none;
}

.mega__menu .mega__menu__listing li a {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
}

.mega__menu .mega__menu__listing li a .icons {
    font-size: 20px;
}

.mega__menu .dropdown-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
}

/* header navbar */

/* login__page */
.login__logo {
    max-width: 60px;
}

.input__form {
    border: none;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    outline: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.flex__between__center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.radius__top {
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}

.radius__bottom {
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}

.log__in__btn {
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    width: 100%;
    border: none;
    padding: 10px;
    font-weight: 500;
}

/* login__page */

/* register page */
.otp__box {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.otp__box input {
    width: 55px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    text-align: center;
    font-weight: normal;
    border: 1px solid #a7a7a7;
    border-radius: 4px;
}

.otp__box input:focus {
    outline: none;
    border-color: var(--primary-color);
}

.resend__otp {
    all: unset;
    cursor: pointer;
    color: var(--primary-color);
}

.register__logo {
    max-width: 50px;
}

.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.topBar::before {
    position: absolute;
    content: '';
    border: 1px dashed;
    top: 20px;
    left: 40px;
    right: 40px;
    z-index: -1;
}

.playstore {
    width: 120px;
    height: auto;
}

.tab__count {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50%;
    margin: auto;
    background-color: var(--white-color);
}

.tab__title {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    padding: 2px 6px;
    border-radius: 4px;
}

.tab__title.active {
    background-color: var(--sky-color);
}

/* register page */

/* accordion faq */
.accordion-button {
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);
}

.accordion-button::after {
    width: 16px;
    height: 16px;
    background-size: cover;
}

.accordion-body {
    font-size: 14px;
    font-weight: 500;
}

.accordion-button:not(.collapsed) {
    background: none;
    color: var(--text-color);
}

.accordion-button:focus {
    box-shadow: none;
}

/* accordion faq */

/* premium cards */
.premium__switch {
    position: relative;
    display: inline-block;
    width: 160px;
    height: 32px;
}

.premium__switch::before {
    content: "Monthly";
    z-index: 999;
    position: relative;
    font-size: 13px;
    font-weight: 500;
    left: -16px;
    top: 2px;
}

.premium__switch::after {
    content: "Annual";
    z-index: 999;
    position: relative;
    font-size: 13px;
    font-weight: 500;
    right: -16px;
    top: 2px;
}

.premium__switch input {
    display: none;
}

.premium__switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e1e7e0;
    border-radius: 1.5rem;
    transition: .4s;
}

.premium__switch .slider:before {
    position: absolute;
    content: "Monthly";
    height: 26px;
    width: 77px;
    left: 3px;
    top: 3px;
    background-color: var(--success-color);
    color: var(--white-color);
    border-radius: 1.5rem;
    transition: .4s;
    z-index: 9999;
    font-size: 13px;
    padding-top: 3px;
    font-weight: 500;
}

.premium__switch input:checked+.slider:before {
    transform: translateX(77px);
    content: "Annual";
}

.premium__cards {
    text-align: center;
    color: var(--heading--color);
}

.premium__cards .title {
    font-size: 22px;
    font-weight: 800;
}

.premium__cards .now {
    font-size: 16px;
    font-weight: 800;
}

.premium__cards .price {
    font-size: 20px;
    font-weight: 800;
}

.premium__cards .price .big {
    font-size: 40px;
}

.premium__cards .save {
    margin-bottom: 0;
    background-color: var(--sky-color);
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
}

.premium__cards .learn__more,
.link__primary {
    color: var(--heading--color);
    font-size: 16px;
    font-weight: 600;
    border-bottom: 2px solid var(--primary-color);
}

/* premium cards */

/* nav tabs */
.nav__tabs .nav-link {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 600;
}

.nav__tabs .nav-link.active {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.nav__tabs .title {
    font-size: 22px;
    color: var(--heading--color);
    font-weight: 800;
}

.nav__tabs .description {
    font-size: 16px;
    font-weight: 500;
    color: var(--heading--color);
}

/* nav tabs */

/* plans table */
.border-top-none {
    border-top: none;
}

.border-bottom-none {
    border-bottom: none;
}

.border-none {
    border: none;
}

.plans__table tr>td {
    min-width: 200px;
    padding: 10px 20px;
}

.plans__table tr td:not(:first-child) {
    text-align: center;
}

.plans__table .check {
    color: var(--success-color);
}

.plans__table .cross {
    color: var(--text-color);
    font-weight: 800;
}

.plans__table tbody td {
    color: #526c83;
    font-size: 16px;
    font-weight: 600;
}

/* plans table */

/* BLOG DETAIL */
.blog_title {
    font-family: var(--font-blog-title);
}

/* BLOG DETAIL */

/* knowledge base */
.knowledge__base .search {
    position: relative;
}

.knowledge__base .search .search__icon {
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 20px;
}

.knowledge__base .search input {
    width: 100%;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 6px;
    padding: 12px 20px 12px 46px;
}

.browse__help__topics li {
    margin-bottom: 8px !important;
}

.browse__help__topics li::marker {
    color: #626262;
}

.browse__help__topics a {
    font-size: 14px;
    font-weight: 500;
}

/* knowledge base */

/* accountants */
.acountants__img {
    width: 80px;
    height: 80px;
}

.testimonial__card .__line {
    width: 80px;
    height: 2px;
    background-color: var(--primary-color);
    margin: auto;
}

.five__boxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
}

.five__boxes>div {
    flex: 100%;
    text-align: center;
}

.five__boxes>div .icon {
    font-size: 32px;
    color: var(--primary-color);
    margin-bottom: 12px;
}

.img-100-x-100 {
    width: 100px;
    height: 100px;
}

/* accountants */

/* footer */
.list__style__none {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer ul li:not(:last-child) {
    margin-bottom: 12px;
}

.footer .group__heading {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
}

.footer .app__download__img {
    border-radius: 4px;
    max-width: 140px;
}

.footer .footer-items {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
}

.footer .social__icons {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer .icon {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--white-color);
}

.footer .icon i {
    font-size: 14px;
}

.footer .icon.twitter {
    background-color: var(--black-color);
}

.footer .icon.facebook {
    background-color: #4a6faa;
}

.footer .icon.youtube {
    background-color: #cc1c10;
}

.footer .icon.instagram {
    background-color: #e44686;
}

/* footer */


@media (min-width:567px) {
    .five__boxes>div {
        flex: 0 1 calc(50% - 20px);
    }
}

@media (min-width:767px) {
    .five__boxes>div {
        flex: 0 1 calc(33.33% - 20px);
    }
}

@media (min-width:992px) {
    .estiamtes__time__tracking__payroll__projects {
        gap: 50px;
    }

    .five__boxes>div {
        flex: 0 1 calc(20% - 20px);
    }

    .navbar-nav {
        gap: 32px;
    }

    .hero__heading {
        font-size: 48px;
        font-weight: 900;
    }

    .hero__heading__heading {
        font-size: 60px;
        font-weight: 900;
    }

    .secondary__heading {
        font-size: 36px;
        font-weight: 900;
    }
}